.footer {
    /* width:100%;
    position:absolute;
    z-index:20;
    padding-top: 40px;
    text-align: center;
    display: inline; */
    flex-shrink: 0;
    position: relative;
    height: 42px;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 20px;
    background-color: #2e2d2d;
    line-height: 45px;
    text-align: center;
    white-space: nowrap;
    z-index: 37;
    padding-top: 0.9%;

}

p {
    display: flex;
    justify-content: space-evenly;


}

.tw {

    z-index: 2;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: IBM Plex Mono;

}

.li {



    z-index: 3;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: IBM Plex Mono;


}

.gi {


    z-index: 4;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: IBM Plex Mono;

}

.fa-house {

    padding-top: 0.5%;
    z-index: 20;
    color: rgba(255, 255, 255, 0.8);
    line-height: 35px;
}