:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  padding: 0px;
  margin: 0px;
}

button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #000000;
  overflow: hidden;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px #3c3c3cb6 solid;
  width: 100%;
  height: 67px;

  background: #0e0d0d;
  z-index: 37;
}

.ax {
  font-size: 72px;
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0.808), rgba(128, 0, 128, 0.705));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: linear-gradient(to right, red, purple); */

  /* background: linear-gradient(#222, #222), 
      linear-gradient(to right, red, purple);
      background-origin: padding-box, border-box;
      background-repeat: no-repeat; 
      border: 5px solid transparent; */
}

.ax {
  flex-shrink: 0;
  position: relative;
  height: 42px;
  color: #3c3c3c42;
  font-family: IBM Plex Mono, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;

}

.abs {
  position: relative;
}

.intro {
  display: flex;
  position: relative;
  width: 628px;
  height: 300px;
  margin: 59px 0 0 216px;
  color: #ffffff;
  font-family: IBM Plex Mono, var(--default-font-family);
  font-size: 55px;
  font-weight: 400;
  line-height: 71.5px;
  text-align: left;
  text-overflow: initial;
  z-index: 28;
  overflow: hidden;


}

.bio {
  display: flex;
  position: relative;
  width: 701px;
  height: 190px;
  margin: 22px 0 0 216px;
  color: #ffffff;
  font-family: IBM Plex Mono, var(--default-font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  z-index: 29;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
  position: relative;
  width: 140px;
  height: 64px;
  margin: 4px 0 0 218px;
  cursor: pointer;
  background: #3c3c3c27;
  border: 1px solid #919191;
  z-index: 30;
  border-radius: 100px;
}

.btn-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 10px 24px 10px 24px;
  z-index: 31;

}

.space-btn {
  display: flex;
  margin: 0px;
  padding-inline: 0px;
  border: 0px;

}


.icon {
  flex-shrink: 0;
  position: relative;
  width: 18px;
  height: 18px;
  z-index: 32;

}

.icon-1 {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 3px 0 0 3px;
  background-size: 100% 100%;

  z-index: 33;
}

.fa-arrow-right {
  size: 10px;
  color: white;
}

.download-cv {
  flex-shrink: 0;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Roboto, var(--default-font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  z-index: 34;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

}

.i1 {
  width: 369px;
  height: 351px;
  position: absolute;
  z-index: 4
}

.i11 {
  width: 369;
  height: 351px;
  position: absolute;
  z-index: 40;
  margin-left: 70%;
  margin-top: 2.5%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  border-radius: 10px;
}

.i12 {
  width: 369px;
  height: 351px;
  position: absolute;
  z-index: 49;
  margin-left: 80%;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  opacity: 0.6;
}