.rectangle-2 {
    position: relative;
    width: 100%;
    height: 785px;
    margin: 876.751px 0 0 0;
    background: #0e0d0d;
    z-index: 8;
    border-radius: 71px;
    background: linear-gradient(#222, #222),
        linear-gradient(to right, red, purple);
    background-origin: padding-box, border-box;
    background-repeat: no-repeat;
    border: 5px solid transparent;

}

.rectangle-3 {
    position: absolute;
    width: 900px;
    height: 784px;
    top: 0.25px;
    left: 2px;
    background: #090808;
    z-index: 25;
    border-radius: 90px;
}

.exp {

    position: absolute;
    width: 650px;
    height: 614px;
    top: 122px;
    left: 48px;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    z-index: 25;
    padding: 5%;
}

.exp1 {

    position: absolute;
    width: 208px;
    height: 60.488px;
    margin: 0 0 0 100px;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    padding-top: 8.5%;
    z-index: 10;
}

.flex-column-d {
    position: absolute;
    width: 550px;
    height: 604px;
    top: 122.249px;
    left: 1066px;
    font-size: 0px;
    z-index: 22;

}

.my-skills {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 228px;
    height: 5.488px;
    margin: 0 0 0 150px;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    z-index: 9;

}

.html-css {
    display: block;
    position: relative;
    height: 35px;
    margin: 148.512px 0 0 0;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 19;

}

.rectangle-4 {
    position: relative;
    width: 549px;
    height: 13px;
    margin: 0 0 0 0;
    background: #282525;
    z-index: 13;
    overflow: visible auto;
    border-radius: 100px;
    border: 1px rgba(255, 255, 255, 0.158) solid;
}

.rectangle-5 {
    position: relative;
    width: 527px;
    height: 13px;
    margin: 0 0 0 0;
    background: linear-gradient(to right, red, purple);
    z-index: 14;
    border-radius: 100px;
}

.python {
    display: block;
    position: relative;
    height: 35px;
    margin: 62px 0 0 0;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 21;
}

.rectangle-6 {
    position: relative;
    width: 549px;
    height: 13px;
    margin: 0 0 0 1px;
    background: #282525;
    z-index: 11;
    overflow: visible auto;
    border-radius: 100px;
    border: 1px rgba(255, 255, 255, 0.158) solid;
}

.rectangle-7 {
    position: relative;
    width: 424px;
    height: 13px;
    margin: 0 0 0 -1px;
    background: linear-gradient(to right, red, purple);
    border-radius: 100px;
}

.java {
    display: block;
    position: relative;
    height: 35px;
    margin: 65px 0 0 1px;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 20;
}

.rectangle-8 {
    position: relative;
    width: 549px;
    height: 13px;
    margin: 0 0 0 1px;
    background: #282525;
    z-index: 11;
    overflow: visible auto;
    border-radius: 100px;
    border: 1px rgba(255, 255, 255, 0.158) solid;
}

.rectangle-9 {
    position: relative;
    width: 350px;
    height: 13px;
    margin: 0 0 0 -1px;
    background: linear-gradient(to right, red, purple);
    z-index: 12;
    border-radius: 100px;
}

.flutter {
    display: block;
    position: relative;
    height: 35px;
    margin: 65px 0 0 1px;
    color: #ffffff;
    font-family: IBM Plex Mono, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    white-space: nowrap;
    z-index: 200;
}

.rectangle-a {
    position: relative;
    width: 549px;
    height: 13px;
    margin: 65 0 0 1px;
    background: #282525;
    z-index: 190;
    overflow: visible auto;
    border-radius: 100px;
    border: 1px rgba(255, 255, 255, 0.158) solid;
}

.rectangle-b {
    position: relative;
    width: 275px;
    height: 13px;
    margin: 0 0 0 -1px;
    background: linear-gradient(to right, red, purple);
    z-index: 191;
    border-radius: 100px;
}